/* Base styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.vh-100 {
  height: 100vh;
}

/* Button for the home screen to take to the 3 trackers */
.button {
  width: fit-content;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  box-shadow: inset 0px 22px 20px 10px rgb(0, 0, 0);
  font-weight: 800;
  color: antiquewhite;
  letter-spacing: .1rem;
  transition: all 0.51s ease-in-out;
}

.button:hover {
  transform: translateY(5px);
  box-shadow: inset 1px -11px 25px 10px rgb(91, 88, 240);
}

/* Remove underline from link */
.no-underline {
  text-decoration: none;
}

/* Logout Button */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.4s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #3498db, #e74c3c);
}

.sign {
  width: 100%;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #ecf0f1;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.4s;
}

.Btn:hover {
  width: 150px;
  border-radius: 20px;
  transition-duration: 0.4s;
  background: linear-gradient(to right, #3498db, #e74c3c);
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.4s;
  padding-left: 12px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.4s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

/* Keyframes for floating animation */
@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Base background styles */
.bg {
  position: fixed; /* Ensures the background stays fixed in place */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensure the background covers the full viewport height */
  background-image: url('./assets/menu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Ensures the background does not repeat */
  z-index: -1; /* Ensures the background stays behind the content */
}

.floatIn {
  opacity: 0; /* Start with elements hidden */
  animation: floatIn 1s forwards; /* Animation duration and fill mode */
}

.floatInDelay1 {
  animation-delay: 0.5s;
}

.floatInDelay2 {
  animation-delay: 1s;
}

.floatInDelay3 {
  animation-delay: 1.5s;
}

.floatInDelay4 {
  animation-delay: 2s;
}

.floatInDelay5 {
  animation-delay: 2.5s;
}

.floatInDelay6 {
  animation-delay: 3s;
}

/* Base box and image styles */
.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 200px;
}

.box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 100px;
  margin: 10px;
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20px;
}

.message {
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
}

.link {
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.title {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 10px;
  font-size: 10rem;
}


.note {
  color: white;
  font-size: 1em;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 200px;
  justify-content: center;
}
.absolute-position {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}


/* Media queries for smaller screens */
@media screen and (max-width: 1592px) {
  .bg {
    /* Adjust background styles for larger devices */
    background-size: cover;
  }

  .box {
    /* Adjust box styles */
    width: 400px;
    padding: 80px;
  }

  .img {
    /* Adjust image styles */
    width: 300px;
    height: 300px;
  }

  .message {
    font-size: 1em;
  }

  .link {
    font-size: 1em;
  }

  .title {
    font-size: 8rem;
  }

  .note {
    font-size: 1em;
    display: flex;
    justify-content: center; /* Center horizontally */
  }
}

@media screen and (max-width: 1024px) {
  .bg {
    /* Adjust background styles */
    background-size: cover;
  }

  .box {
    /* Adjust box styles */
    width: 300px;
    padding: 60px;
  }

  .img {
    /* Adjust image styles */
    width: 250px;
    height: 250px;
  }

  .message {
    /* Adjust text styles */
    font-size: 1.2em;
  }

  .link {
    /* Adjust link styles */
    font-size: 1em;
  }

  .button {
    padding: 10px 20px;
    border-radius: 80px;
  }
}

@media screen and (max-width: 768px) {
  .bg {
    /* Adjust background styles */
    background-size: cover;
  }

  .box {
    /* Adjust box styles */
    width: 180px;
    padding: 40px;
  }

  .img {
    /* Adjust image styles */
    width: 180px;
    height: 180px;
  }

  .message {
    /* Adjust text styles */
    font-size: 1.2em;
    max-width: 150px;
  }

  .link {
    /* Adjust link styles */
    font-size: 1em;
  }

  .button {
    padding: 10px 20px;
    border-radius: 80px;
  }

  .title {
    font-size: 2rem;
  }

  .note {
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .d-flex {
    /* Adjust flex direction for smaller screens */
    flex-direction: column;
  }

  .bg {
    /* Adjust background styles */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .contain {
    margin-top: 50px;
    padding-top: 800px; /* Added padding-top to move all boxes lower */
  }

  .box {
    /* Adjust box styles */
    width: 200px;
    padding: 30px;
    justify-content: center;
  }

  .img {
    /* Adjust image styles */
    width: 150px;
    height: 150px;
  }

  .message {
    /* Adjust text styles */
    font-size: 1em;
  }

  .link {
    /* Adjust link styles */
    font-size: 0.8em;
  }
}

/* Media queries for screens with max-width of 393px */
@media screen and (max-width: 393px) {
  .d-flex {
    flex-direction: column;
  }

  .bg {
    background-size: cover;
  }

  .box {
    width: 200px;
    padding: 20px;
  }

  .img {
    width: 120px;
    height: 120px;
  }

  .message {
    font-size: 0.9em;
  }

  .link {
    font-size: 0.7em;
  }

  .Btn {
    width: 25px;
    height: 25px;
    padding: 0; /* Ensure the button doesn't have extra padding */
  }

  .Btn .sign svg {
    width: 20px; /* Adjust the SVG size */
  }

  .Btn .text {
    font-size: 0.8em; /* Adjust the text size */
  }

  .title {
    font-size: 1.5rem; /* Adjusted font size */

  }
}

/* Media queries for screens with max-width of 320px */
@media screen and (max-width: 375px) {
  .d-flex {
    flex-direction: column;
  }

  .bg {
    background-size: cover;
  }

  .box {
    width: 180px;
    padding: 15px;
  }

  .img {
    width: 100px;
    height: 100px;
  }

  .message {
    font-size: 0.8em;
  }

  .link {
    font-size: 0.6em;
  }

  .Btn {
    width: 40px !important;
    height: 40px !important;
    padding: 0; /* Ensure the button doesn't have extra padding */
    margin-right: 1px;
  }

  .Btn .sign svg {
    width: 20px; /* Adjust the SVG size */
  }

  .Btn .text {
    font-size: 0.7em; /* Adjust the text size */
  }

  .title {
    font-size: 2rem !important; /* Adjusted font size */
  }
}