/* Default styles for large screens */
.bg-secondary {
  background-image: url('./assets/start.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 10vw;
  font-family: 'Times New Roman';
  position: absolute;
  top: 10px;
  text-align: center;
}

.p1, .p2 {
  color: white;
  font-size: 1.2vw;
  font-family: 'Times New Roman';
  position: absolute;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.p1 {
  top: 250px;
}

.p2 {
  bottom: 200px;
}

.image {
  position: absolute;
  top: 360px;
  width: 12vw;
  height: 12vw;
}

.start {
  position: absolute;
  bottom: 100px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.start:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.start:hover .icon {
  transform: translateX(4px);
}

.start:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.start::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.floatIn {
  opacity: 0;
  animation: floatIn 1s forwards;
}

.floatInDelay1 {
  animation-delay: 0.5s;
}

.floatInDelay2 {
  animation-delay: 1s;
}

.floatInDelay3 {
  animation-delay: 1.5s;
}

.floatInDelay4 {
  animation-delay: 2s;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 1024px) {
  .title {
    font-size: 8vw;
  }

  .p1, .p2 {
    font-size: 1.8vw;
  }

  .image {
    top: 350px;
    width: 20vw;
    height: 20vw;
  }

  .start {
    font-size: 13px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 6vw;
  }

  .p1, .p2 {
    font-size: 2.5vw;
  }

  .image {
    top: 350px;
    width: 25vw;
    height: 25vw;
  }

  .start {
    font-size: 12px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 10vw;
  }

  .p1, .p2 {
    font-size: 3.5vw;
  }

  .image {
    top: 350px;
    width: 40vw;
    height: 40vw;
  }

  .start {
    font-size: 10px;
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 12vw;
  }

  .p1, .p2 {
    font-size: 4vw;
  }

  .image {
    top: 375px;
    width: 40vw;
    height: 40vw;
  }

  .start {
    font-size: 9px;
  }

  .icon {
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 14vw;
  }

  .p1, .p2 {
    font-size: 4vw;
  }

  .image {
    top: 350px;
    width: 45vw;
    height: 45vw;
  }

  .start {
    font-size: 8px;
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}
